<!-- chat.component.html -->
<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  "
>
  <h1>Welcome to Text Transformer!</h1>

  <div class="w-144">
    <h4>Tone</h4>
    <div>
      <label for="formality-slider">Formality:</label>
      <mat-slider
        id="formality-slider"
        style="width: 200px"
        min="1"
        max="5"
        step="1"
        showTickMarks
        discrete
        [displayWith]="getFormality"
      >
        <input matSliderThumb value="3" [(ngModel)]="formality" />
      </mat-slider>
    </div>

    <div>
      <label for="conciseness-slider">Conciseness:</label>
      <mat-slider
        id="conciseness-slider"
        style="width: 200px"
        min="1"
        max="3"
        step="1"
        showTickMarks
        discrete
        [displayWith]="getConciseness"
      >
        <input matSliderThumb value="2" [(ngModel)]="conciseness" />
      </mat-slider>
    </div>

    <div>
      <label for="warmth-slider">Warmth:</label>
      <mat-slider
        id="warmth-slider"
        style="width: 200px"
        min="1"
        max="3"
        step="1"
        showTickMarks
        discrete
        [displayWith]="getWarmth"
      >
        <input matSliderThumb value="2" [(ngModel)]="warmth" />
      </mat-slider>
    </div>
   
    <div>
      <div class="w-full max-w-2xl flex justify-between">
        <mat-form-field class="w-full max-w-2xl">
          <mat-label>Enter your message</mat-label>
          <textarea
            matInput
            [(ngModel)]="chatInput"
            placeholder="Type your message here..."
          ></textarea>
        </mat-form-field>
        <button
          mat-raised-button
          class="ml-2"
          color="primary"
          (click)="sendToGpt3()"
        >
          Send
        </button>
      </div>

      <div class="w-full max-w-2xl">
        <mat-form-field class="w-full max-w-2xl">
          <mat-label>Response</mat-label>
          <textarea matInput [(ngModel)]="chatOutput" readonly></textarea>
        </mat-form-field>
      </div>

      <div>
        <button
          mat-raised-button
          class="mr-2"
          color="accent"
          (click)="replaceKey()"
        >
          Replace API Key
        </button>
        <button mat-raised-button color="warn" (click)="deleteKey()">
          Delete API Key
        </button>
      </div>
    </div>
  </div>
</div>
